@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgba(78, 203, 113, 1);
  background: rgba(78, 203, 113, 0.1);
}

::selection {
  color: rgba(78, 203, 113, 1);
  background: rgba(78, 203, 113, 0.1);
}

html{
  scroll-behavior: smooth;
  color-scheme: dark;
}

@layer components {
  .toast {
    border-radius: 6px;
    border: 1px solid#32394D;
    background: rgba(32, 36, 51, 0.75);
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
